$primary-font: "Raleway";
$text-size: 14px;
$primary-color: #ffffff;
$secondary-color: #2d3033;

@font-face {
  font-family: "Open Sans";
  src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Cardo";
  src: url(./fonts/Cardo-Regular.ttf);
}

@font-face {
  font-family: "CardoI";
  src: url(./fonts/Cardo-Italic.ttf);
}


/* ************************* Header ******************************* */
header{
  background: url(./img/headerPhone.jpg) no-repeat;
  background-size: cover;
  height: 500px;
}


.navbar{
  opacity: 0.75;
  color: $primary-color;
  font-family: $primary-font;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.headerContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 350px;
  color: $primary-color;
}

.headerTitle{
  margin-top: 56px;
  font-family: "Open Sans";
  font-size: 65px;
  font-weight: 700;
  line-height: 71px;
  text-transform: uppercase;
}

.headerDescr{
  display: inline-block;
  text-align: center;
  font-family: $primary-font;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}

.headerButton{
  font-family: $primary-font;
  font-size: 13px;
  font-weight: 900;
  line-height: 21px;
  text-transform: uppercase;
  width: 200px;
  height: 46px;
  background-color: #e84545;
  color: $primary-color;
  border: none;
  margin-top: 20px;
}

/* ************************* Description ******************************* */
.descrFlex{
   text-align: center;

   div{
     color: #6c7279;
     font-family: $primary-font;
     font-size: $text-size;
     font-weight: 400;
     line-height: 21px;
   }

   img{
     height: 60px;
     margin-top: 50px
   }

   h4{
     color: $secondary-color;
     font-size: $text-size;
     font-weight: 700;
     text-transform: uppercase;
     margin: 34px auto 25px
   }
}

/* ************************* Projects ******************************* */

.projects{
  display: flex;

   .image{
     width: 25%;
     position: relative;

     img{
       width: 100%;
     }

     .text{
       position: absolute;
       top: 0;
       opacity: 0;
       height: 100%;
       width: 100%;
       color: $primary-color;
       font-family: $primary-font;
       font-size: $text-size;
       text-align: center;
       background-color: #e74545;

       &:hover{
         opacity: 0.9;
       }

       h4{
         margin-top: 30%;
         font-weight: 700;
         text-transform: uppercase;
         margin-bottom: 15px;
         font-size: $text-size;
       }

       div{
         font-weight: 400;
       }
     }
   }
}

.containerProjects{
  margin: 50px 0;
}

/* ************************* Cards ******************************* */

.card-body{
   h6{
      font-family: $primary-font;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
   }

   h5{
      font-family: $primary-font;
      font-size: 22px;
      font-weight: 400;
   }

   p{
      color: $secondary-color;
      font-family: $primary-font;
      font-size: $text-size;
      font-weight: 400;
      line-height: 21px;
   }
}

.horizontCenter{

   .card{
      margin: 0 auto;
   }
}


.myBtn{
   display: inline-block;
   border: 1px solid #e8ecee;
   width: 40px;
   height: 40px;
   text-align: center;

   img{
      position: relative;
      top: 50%;
      transform: translate(0, -80%);
   }
}

/* ************************* Testimonials ******************************* */

#testimonials{
  margin-top: 50px;
  color: $primary-color;

  .slider-item{
    // height: 100%;
  }

  .carousel-indicators{
    margin-left: 50%;
  }

  .item-left{
    padding: 0;
  }

  .indicator{
     width: 10px;
     height: 10px;
     background-color: $primary-color;
     margin: 3px;
     border-radius: 5px;
     opacity: 50%;
  }

  .bg-text{
    background-color: #523549;
  }

  .review{
     margin-top: 5%;
     margin-left: 10%;
     width: 70%;
     text-align: left;
     font-family: "CardoI";
     // font-size: 32px;
     font-size: 3vw;
     // line-height: 42px;
     line-height: 4vw;
     padding-bottom: 30px;
  }

  .review-author{
      margin-top: 20px;
      font-family: $primary-font;
      font-size: 13px;
      font-weight: 700;
      line-height: 21px;
      text-transform: uppercase;
      font-style: normal;
   }
}

/* ************************* Download ******************************* */

.download{
   text-align: center;
   margin: 70px 0;

   h1{
      color: $secondary-color;
      font-family: $primary-font;
      font-size: 28px;
      font-weight: 300;
      line-height: 32px;
   }

   p{
      color: $secondary-color;
      font-family: $primary-font;
      font-size: 13px;
      font-weight: 700;
      line-height: 21px;
      text-transform: uppercase;
      margin: 20px 0 40px 0;
   }

}

/* ************************* Footer ******************************* */
footer{
   background-color: #3a3e64;
   height: 250px;
}

.footer-item{
   text-align: center;
   height: 250px;

   h5{
      color: $primary-color;
      font-family: Raleway;
      font-size: $text-size;
      font-weight: 700;
      text-transform: uppercase;
   }

   p{
      opacity: 0.5;
      color: $primary-color;
      font-family: Raleway;
      font-size: $text-size;
      font-weight: 400;
      line-height: 22.5px;
   }
}

.center{
   position: relative;
   top: 50%;
   transform: translate(0, -50%);
}

.links{
   border: 2px solid $primary-color;
   width: 40px;
   height: 40px;
   display: inline-block;
   margin: 2px;

   img{
      position: relative;
      top: 50%;
      transform: translate(0, -80%);
   }
}

.copyright{
   background-color: #313454;
   height: 95px;
   color: #808080;
   font-family: $primary-font;
   font-size: $text-size;
   font-weight: 400;
   line-height: 22.5px;
   text-align: center;

   span{
      color: $primary-color;
   }
}

.myPadd{
   padding-top: 0;
}

/* ************************* Media queries **************************/


@media screen and (max-width: 1200px) {

   header{
     height: 450px
   }

   .headerContent{
      height: 350px;
   }


   .myCarousel-inner{
      font-size: 24px;
      line-height: 42px;
      padding-bottom: 20px;
   }

}


@media screen and (max-width: 1000px) {
   header{
     height: 380px
   }

   .headerContent{
      height: 290px;
   }

   .headerTitle{
     font-size: 45px;
     line-height: 50px;
   }

   .myCarousel-inner{
      font-size: 32px;
      line-height: 42px;
      padding-bottom: 20px;
   }

   #testimonials{
     .review{
        font-size: 3vw;
        line-height: 3vw;
    }
  }
}

@media screen and (max-width: 767px) {
   header{
     height: 350px
   }

   .headerContent{
      height: 250px;
   }

   .headerTitle{
     font-size: 38px;
     line-height: 45px;
   }

   .headerDescr{
     font-size: 18px;
     line-height: 22px;
   }

   .projects{
     flex-wrap: wrap;

      .image{
        width: 50%;
      }
   }

   #testimonials{
     .review{
        font-size: 32px;
        line-height: 32px;
    }
  }

   footer{
      height: 200px;
   }

   .footer-item{
      height: 100px;
      }
   }

@media screen and (max-width: 700px) {
   header{
     height: 350px
   }

   .headerContent{
      height: 250px;
   }

   .headerTitle{
     font-size: 36px;
     line-height: 38px;
   }

   footer{
      height: 200px;
   }

   .footer-item{
      height: 100px;
      }
   }

@media screen and (max-width: 576px) {

   .myCarousel-inner{
      font-size: 22px;
      line-height: 32px;
      padding-bottom: 0;
   }

   .headerTitle{
     font-size: 30px;
     line-height: 32px;
   }

   #testimonials{
     .review{
        font-size: 26px;
        line-height: 32px;
    }
  }

   footer{
      height: 300px;
   }

   .footer-item{
      height: 100px;
      }
   }



@media screen and (max-width: 460px) {


   .headerTitle{
     text-align: center;
   }

   .headerDescr{
     display: none;
   }

   .logo{
      width: 150px;
   }

   .myCarousel-inner{
      font-size: 18px;
      line-height: 22px;

      h5{
         font-size: 10px;
         line-height: $text-size;
         margin: 0;
      }

      p{
         margin: 0;
      }
   }

   .projects{
      flex-wrap: wrap;

      .image{
        width: 100%;
      }
   }

}
